.css-106c1u2-MuiBadge-badge{
    background-color: #FFCD1F !important;
    color: black !important;
}
.hover-animation:hover svg{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
